@import "tailwindcss";

@layer base {
  html, body {
    scroll-behavior: smooth;
    background-color: #00674F;
  }
  body {
    font-family: "Gotham", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}


